{% extends "main_template.html" %}

{% block accueil_active %}class="active"{% endblock %}

{% block corps %}
    {{ super() }}
    {% block IA %}
        <p>L'outil d'intelligence artificielle créé dans le cadre de ce projet est accessible sur GitLab : <a
                href="https://gitlab.com/OrianeN/germandialectclassifier/tree/master">Accéder au code source du projet</a></p>
        <p>L'outil fonctionne avec Python 3, et nécessite l'installation de librairies, listées dans le fichier <em>predicting/requirements.txt</em> :</p>
        <ul>
            <li>nltk</li>
            <li>sklearn / scikit-learn</li>
            <li>numpy</li>
            <li>pandas</li>
            <li>flask</li>
        </ul>
        <p>Si besoin ou pour plus d'informations, n'hésitez pas à me contacter via <a href="https://www.linkedin.com/in/oriane-nedey/">mon profil LinkedIn</a></p>
    {% endblock %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}